header{
    padding: 15px 0 15px 0;
    font-size: 0.6cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

#menu{
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{
    width: 100px;
}

label{
    font-family: Arial, Helvetica, sans-serifs;

}

button{
    background-color: black;
    color: white;
    margin-top: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    transition: 1s;
}

button:hover{
    background-color: rgb(255, 123, 0);
}


#animation{
    position: absolute;
    top: 40%;
}

.frame{
    display: flex;
}


.coluna{
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
}

:root{
    --width: 200px;
    --height: 20px;
}

.bloco-alinhador{
    display:flex; 
    justify-content: center;
    width: 250px;
}

.bloco{
    height: var(--height);
    background-color: black;
    border-radius: 5px;
    width: border;
    box-sizing: border-box;
}



